body {
  margin: 0;
  padding: 0;
}

    
.ul-task {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* Gör så att menyn är över andra element */
}

.ul-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* Gör så att menyn är över andra element */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.right {
  float: right;
}


/*banner*/
.banner {
  background-color: #4c684c; /* Grön bakgrund */
  color: white; /* Vit text */
  text-align: center;
  padding: 1em; /* Anpassad padding istället för en fast pixelstorlek */
  font-size: 1.5em; /* Relativ fontstorlek */
  font-weight: bold;
  
  width: 100%; /* Fyll hela skärmens bredd */
  margin: 0; /* Ingen yttre marginal */
  box-sizing: border-box; /* Förhindrar att padding påverkar bredden */
  margin-top: 50px; /* Justera för att skapa mellanrum under den fasta menyn */
  z-index: 0; /* Gör så att bannern hamnar under menyn */
  
}